.discover-collection{
    position: relative;
    cursor: pointer;
}

.discover-collection::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 0.5s 0s ease;
}

.discover-collection:hover::after{
    width: 0%;
}