.navbar-container{
    text-transform: uppercase;
}

.top-nav li {
    position: relative;
}

.top-nav li:hover{
    font-weight: bold;
    transition: font-weight 0.1s 0s ease;
}

.top-nav li::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 1px;  
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: width 0.3s 0s ease; 
}

.top-nav li:hover::after {
    width: 100%;    
}

.category{
    position: relative;
    cursor: pointer;
}

.category:hover{
    font-weight: bold;
    transition: font-weight 0.1s 0s ease;
}

.category::after{
    content: "";
    position: absolute;
    width: 0; 
    height: 3px;  
    bottom: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 1);
    transition: width 0.3s 0s ease; 
}

.category:hover::after {
    width: 100%;    
}

.top-icons i{
    cursor: pointer;
}